html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}
        
        .clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }
        
        html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
        
        *, *:before, *:after {box-sizing: inherit}
        
        .sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

        html {
        font-size: 62.5%; 
       }
       /* stripping of styles */
       body,
       ul,
       h1,
       h2,
       h3
       p {
           margin: 0;
           padding: 0;
       }

       ul {
           list-style: none;
       }

       a {
           text-decoration: none;
           text-transform: uppercase;
       }

       img {
           width: 100%;
           height: auto;
           display: block;
       }


       body{
           /* background-color:#FAF3DD; */
           background-color: white;
           line-height: 1.3;
           font-family: 'Roboto', sans-serif;
       }
    
       header{
        background-color:#4b4a4a;
        
       }

        h1{
           /* color:#AED9E0; */
           color:white;
           padding:10px;
           font-size:calc(1.5rem + 1vw)
        }

       .wrapper {
        width: 90%;
        max-width: 1280px;
        margin: 0 auto;
       }

       .headerContainer{
           display:flex;
           justify-content: space-between;
           

       }

       main{
           padding-top:20px;
       }

       .logo h1{
           font-size:4.5rem;
           font-weight:bolder;
       }




       ul{
           display:none;
       }

     


       ul li{
           margin:10px;
       }

       nav li button{
           border:none;
           font-size:2.5rem;
           color:#4f5052;
           /* color:#FFA69E; */
           background:#B8F2E6;
           cursor: pointer;
       }

       nav li button:hover{
           background:white;
           border:1px solid #4f5052;
       }

        .indexCardBoard{
            display:flex;
            flex-direction: column;
        }

        .cardContainer{
            background:rgb(194, 192, 192);
            border: 1px solid #4f5052;
            margin: 10px;
        }
        .card{
            width:200px;
            height:200px;
            background:white;
            color:#5E6472;
            margin:10px;
            border:none;
            font-size:1.5rem;
            text-transform: capitalize;
            border: 1px solid #4f5052;
            order:0;
            
        }

        .cardContainer h1{
            font-weight:400;
            /* color:#B8F2E6; */
            /* color:#4f5052; */
        }

        textarea{
            border:1px solid #4f5052;
        }




        .tools {
          /* background-color:#FFA69E; */
          background-color: white;
          border-bottom: 1px solid #4f5052;
          display: flex;
          justify-content: flex-end;
          padding:10px;
          padding-bottom:20px;
        }
        
        .tools button {
          background-color: transparent;
          border: none;
          color: #4f5052;
          cursor: pointer;
          font-size: 1.5rem;
          margin-left: 0.5rem;
        }

        .saveBtn{
            position: absolute;
            right: 0;
            bottom: 0;
            transform: translate(-50px,-40px);
            border:none;
            font-size:2rem;
            color:white;
            background:#4f5052;
            border-radius: 10px;

        }


        .sectionContainer{
            display: flex;
            justify-content: space-between;
            padding-top:100px;
        }

        h2{
            font-size:2rem;
            color:black;
            border-bottom:5px solid black;
            font-weight:400;
        }

        .sectionContainer .new{
            border:none;
            font-size:1.5rem;
            color:#FFA69E;
            background:none;
            margin-top:20px;
        }

        .active{
            z-index:2;
            order:1;
            width:75vw;
            height:75vh;
        }

        .textScreen{
            height: 500px;
            width: 1000px;
            position:fixed;
            left:50%;
            top:50%;
            transform: translate(-50%, -50%);
        }
 
        
        .openModal{
         position:fixed;
         left:50%;
         top:50%;
         transform: translate(-50%, -50%);
        }

     
        .hideDiv{
        display:none;
        position:static;
        }

        .hold {
            border: solid 5px #ccc;
        }
          
        .hovered {
            border-color: white;
            border-style: 1px solid black;
          }


     

            /* .dropdownMenu{
        background:#B8F2E6;
        position:absolute;
           right:0;
           padding-bottom: 20px;
           width:150px;
           text-align: center;
           display:flex;
           flex-direction: column;
           margin: 20px;
           padding: 10px;
           border:1px solid #4f5052;

       }

       .dropdownMenu p{
           margin:10px;
           width:80%;

           font-size:2.5rem;
           text-align: center;
           color:#4f5052;
       } */
     /* .arrowBtn{
        border:none;
        cursor: pointer;
        order:2;
        margin-right: 30px;
        margin-left:30px;
        background:#B8F2E6;
       
    } */

    /* .arrowBtn:hover{
        background:white;
    }

    .arrowBtn i{
        font-size:2rem;
        border:none;
        color:#4f5052;
    } */
